html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

body {
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);
  transition: background 0.3s ease-in-out;
}


  h1 {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  span {
    display: block;
  }
  .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    background-color: transparent;
}

  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    cursor: pointer; 
}

  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  