html, body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow: hidden;
}

body {
  margin: 0;
  background: linear-gradient(to right, #11998E, #38EF7D);
  transition: background 0.3s ease-in-out;
}


  h1{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 0;
    font-size: 3rem;
    padding: 70px;
  }

  h2{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 0;
    padding: 70px;
  }

  span {
    display: block;
  }
  .canvas {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    height: 50vh; 
    background-color: transparent;
  }
  

  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    cursor: pointer; 
}

  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  
  